{% extends 'base.html' %}
{% block titulo %}Medicamentos{% endblock %}
{% block content %}
<h3><i class="bi bi-capsule"></i> Medicamentos</h3>
<div class="card shadow-sm">
  <div class="card-body p-0">
    <table class="table table-hover mb-0">
      <thead><tr><th>ID</th><th>Nombre</th><th>Dosis</th><th>Fabricante</th><th>Descripción</th></tr></thead>
      <tbody>
        {% for m in medicamentos %}
        <tr>
          <td>{{ m.id_medicamento }}</td>
          <td><strong>{{ m.nombre }}</strong></td>
          <td>{{ m.dosis or '—' }}</td>
          <td>{{ m.fabricante or '—' }}</td>
          <td><small>{{ m.descripcion or '—' }}</small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
